<main>
  <div class="section-1">
    <h1>Cart</h1>
  </div>
  <div class="section-2">
    <div class="space">
      <div class="top">
        <h1>Apollo</h1>
        <p>Running Short</p>
      </div>
      <div>
        <h2>PRICE:</h2>
        <p>$50.00</p>
      </div>
        <div class="rad">
          <h2>SIZE:</h2>
          <label>
            <input
              type="checkbox"
              name="size"
              value="XS"
              [(ngModel)]="selectedSize.XS"
            />
            <span>XS</span>
          </label>
          <label>
            <input
              type="checkbox"
              name="size"
              value="S"
              [(ngModel)]="selectedSize.S"
            />
            <span>S</span>
          </label>
          <label>
            <input
              type="checkbox"
              name="size"
              value="M"
              [(ngModel)]="selectedSize.M"
            />
            <span>M</span>
          </label>
          <label>
            <input
              type="checkbox"
              name="size"
              value="L"
              [(ngModel)]="selectedSize.L"
            />
            <span>L</span>
          </label>
        </div>
        <h2>COLOR:</h2>
        <div class="radi">
          <label>
            <!-- <span>Color:</span> -->
            <input
              type="radio"
              name="color"
              value="grey"
              [(ngModel)]="selectedColor"
              (ngModelChange)="updateSizeBoxColor()"
            />
            <div
              class="color-box1"
              [ngClass]="{ selected: selectedColor === 'grey' }"
            ></div>
          </label>
          <label>
            <!-- <span></span> -->
            <input
              type="radio"
              name="color"
              value="black"
              [(ngModel)]="selectedColor"
              (ngModelChange)="updateSizeBoxColor()"
            />
            <div
              class="color-box2"
              [ngClass]="{ selected: selectedColor === 'black' }"
            ></div>
          </label>
          <label>
            <!-- <span></span> -->
            <input
              type="radio"
              name="color"
              value="green"
              [(ngModel)]="selectedColor"
              (ngModelChange)="updateSizeBoxColor()"
            />
            <!-- <div class="check"></div> -->
            <div
              class="color-box3"
              [ngClass]="{ selected: selectedColor === 'green' }"
            ></div>
          </label>
        </div>
    </div>
    <div>Image Tag here</div>
  </div>
</main>
