* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Syne", "Poppins", sans-serif;
  /* font-family: 'Lora', serif; */
  /* font-family: 'Raleway'; */
  /* scroll-behavior: none; */
  /* overflow: hidden; */
}
/* body {
  overflow: hidden;
} */


header {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem 2rem;
}

nav {
  flex: 1;
  /* border: 1px solid blue; */
}

.right {
  /* border: 1px solid black; */
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 6rem;
}

nav > ul {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
}

nav > ul > li a {
  text-decoration: none;
  width: 65px;
  height: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  /* color: red; */
  /* color: #5ECE7B; */
}

nav li:first-child a {
  border-bottom: 2px solid #5ece7b;
  padding-bottom: 2rem;
  color: #5ece7b;
}

/* nav li a:hover:not(:first-child),
  nav li a.active {
  border-bottom: 2px solid  #5ECE7B;
} */

/* nav li a:hover:first-child {
    border-bottom: none;
  } */

nav li a:hover,
nav li a.active {
  padding-bottom: 2rem;
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
}

/* ul {
    border: 1px solid red;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  } */

.select-wrapper {
  position: relative;
  display: inline-block;
  border: none;
}

.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image: url("https://cdn.jsdelivr.net/gh/google/material-design-icons/action/svg/design/ic_arrow_drop_down_24px.svg"); */
  background-position: right center;
  background-image: url("https://cdn.jsdelivr.net/gh/google/material-design-icons/action/svg/design/ic_arrow_drop_down_24px.svg");
  background-repeat: no-repeat;
  background-size: 8px 8px;
  padding-right: 32px;
  /* border: 1px solid rgb(0, 255, 0); */
}

.select-wrapper .dropdown-icon {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  /* color: record.quantity < '0' ? 'red' : '#171717', */
  background-image: url("/assets/Dropdown.png");
  /* background-image: url("/assets/UpArrow.png"); */
  /* background-image: url("https://cdn.jsdelivr.net/gh/google/material-design-icons/action/svg/design/ic_arrow_drop_down_24px.svg"); */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 8px 8px; */
}

.select-wrapper.open select {
  border: 1px solid rgb(4, 0, 255);
  background-image: url("/assets/UpArrow.png");
  /* background-image: url("https://cdn.jsdelivr.net/gh/google/material-design-icons/action/svg/design/ic_arrow_drop_up_24px.svg"); */
  /* background-image: url("https://cdn.jsdelivr.net/gh/google/material-design-icons/action/svg/design/ic_arrow_drop_up_24px.svg"); */
}

.select-wrapper.open .dropdown-icon {
  background-image: url("https://cdn.jsdelivr.net/gh/google/material-design-icons/action/svg/design/ic_arrow_drop_up_24px.svg");
  /* background-image: url("/assets/UpArrow.png"); */
}

body {
  /* border: 1px solid red; */
  margin: 7rem 0rem;
}

/* body h1{
    border: 1px solid red;
    margin-left: 49px;
} */
main {
  /* border: 1px solid #23d56f; */
  margin: 113px 49px;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* display: grid;
    grid-template-columns:min-content; */
  /* grid-template-columns: 100px 150px 200px; */
  gap: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 330px));
}

h1 {
  /* width: 299px; */
  height: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
  margin-left: 49px;
}

main section {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

main section p {
  width: 354px;
  height: 29px;
  /* font-family: 'Raleway'; */
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
}

main section h6 {
  width: 58px;
  height: 29px;
  font-family: "Raleway";
  /* font-family: 'Lora', serif; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: right;
  color: #1d1f22;
}

.image-container .show {
  width: 100%;
  height: 338px;
  /* object-fit: cover; */
  background: #ffffff;
  /* border: 1px solid rgb(255, 0, 85); */
}

/* .wrapper:hover .hide {
  display: block;
  position: relative;
  left: 18rem;
  bottom: 25px;
}
.hide {
  display: none;
} */

.wrapper.hover-effect:hover .hide {
  display: block;
  position: relative;
  left: 18rem;
  bottom: 25px;
}
.hide {
  display: none;
}

.wrapper p {
  width: 354px;
  height: 29px;
  /* font-family: 'Raleway'; */
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #8d8f9a;
}

.wrapper {
  cursor: pointer;
}

/* .wrapper.third-box {
  background-color: rgba(128, 128, 128, 0.2);
} */


.wrapper.hover-effect:hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px 16px 56px 16px;
  background: #ffffff;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.wrapper .amount {
  color: #1d1f22;
  padding-top: 24px;
  width: 58px;
  height: 29px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-align: right;
}

.wrapper .text {
  font-family: "Raleway";
  width: 354px;
  height: 29px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
  padding-top: 2.5rem;
}

.wrapper .no-stock {
  position: absolute;
  bottom: 6rem;
  left: 63rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #8d8f9a;
}
