   .modal-overlay {
    position: fixed;
    top: 4rem;
    right: 17px;
    z-index: 999;
    background-color: white;
    padding: 20px;
    width: 30%;
  }
  
  .modal-content {
    margin: auto;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.6); */
    /* background: rgba(57, 55, 72, 0.22); */
    z-index: 999;
  }
  